{% extends 'myapp/layout.html' %} 
{% load static %} 
{% block title %}Main{% endblock %} 
{% block style_css %}
<link rel="stylesheet" href="{% static 'myapp/css/main.css' %}" />
<style>
.Central-block{
    display: flex;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}
.positions{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
}
</style>
{% endblock %}
{% block content %}
<div class="Central-block">
    {% for el in list_event %}
<div class="positions">
    <h3>{{el.title}}</h3>
    <p>{{el.description}}</p>
    <p>{{el.event_date}}</p>
</div>
    {% endfor %}
</div>

{% endblock %}